.card {
  display: flex;
  gap: 20px;
}
.card-img,
.card-info {
  width: 50%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
